{% extends 'StcBaseBundle::layout.html.twig' %}
{% block title %}Studio Reservation App{% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block head %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            //get the pre-populated date from the calender when the page loads:
            if ($('#dateSelectorForm').val() == '') {
                var currDate = new Date();
                currDate = currDate.toLocaleDateString();
                //alert(currDate);
                $('#dateclick').attr('value', currDate);

                var request = $.ajax({
                    url: "{{ path('get_reservations_today') }}",
                    type: "POST",
                    data:
                        { formName:$('#dateSelectorForm').attr('id'),
                          dateclick:$('#dateclick').attr('value'),
                          other: "attributes" }
                });
                request.done(function(msg) {
                    //reset the appearance of the table cells:
                    //$('.selectable tbody tr td').addClass('ui-state-default');
                    $.each(msg.htmlContent, function(idx, obj) {
                        //change the cells black:
                        $('#'+obj).css('background-color','black');
                        $('#'+obj).removeClass('ui-selectee');
                        $('#'+obj).removeClass('ui-selectable');
                        $('#'+obj).removeClass('ui-state-default');
                        $('#'+obj).parent().removeClass('ui-selectee');
                        $('#'+obj).parent().removeClass('ui-state-default');
                        $('#'+obj).css('background-color: black; opacity: 0;');

                    });
                });
            }
                //$('#dateSelectorForm').submit();
            //listen for form being submitted:
            $('#dateSelectorForm').submit(function() {
                //set all <td>'s to have a white background (for each request)
                //$("td").removeClass('selectable');
                //$("td").addClass('ui-selected');

                //get url
                var url=$('#dateSelectorForm').attr('action');
                //start post request:
                $.post(url, {
                    formName:$('#dateSelectorForm').attr('id'),
                    dateclick:$('#dateclick').attr('value'),
                    other:"attributes"
                }, function(data) {
                    //response is in the data variable
                    //once post returns, the table cells need to auto-reset back to original style,
                    //then black out the specific dates taken
                    if(data.responseCode==200) {
                        $('.selectable tbody tr td').addClass('ui-state-default');
                        $.each(data.htmlContent, function(idx, obj) {
                            $('#'+obj).removeClass('ui-selectee');
                            $('#'+obj).removeClass('ui-selectable');
                            $('#'+obj).removeClass('ui-state-default');
                            $('#'+obj).parent().removeClass('ui-selectee');
                            $('#'+obj).parent().removeClass('ui-state-default');
                            $('#'+obj).css('background-color: black; opacity: 0;');
                        });
                    } else if (data.responseCode == '') {
                        $('#daychart').html('<h2>Bad Request</h2>');
                        $('#daychart').css('color','red');
                    } else {
                        //if we get here the controller didn't return a json_encoded resposne:
                        alert("An unexpected error occured");
                        //UN-COMMENT THIS FOR DEBUGGING:
                        //$('#daychart').html(data);
                    }
                });
                return false;
            });
        });

        $(function() {
            $( "#datepicker" ).datepicker({
                inline: true,
                onSelect: function(date) {
                    $('#dateclick').val(date);
                    $('#dateSelectorForm').submit();
                    //window.location = 'http://'+location.host+'/stcbaseapp/web/app_dev.php/display/reservation?date='+date.replace(/\//g,'');
                }
            });
            return false;
        });

    </script>
    <script>
        $(function() {
            $( ".selectable").selectable();
            $( ".header-no-select" ).selectable( "disable" );
        });
    </script>
    <style>
        #table tr { height: 34px;  }
        .selectable .ui-selecting { background: #FECA40; }
        .selectable .ui-selected { background: #F39814; color: white; }
        .selectable { list-style-type: none; margin: 0; padding: 0; }
        .selectable tr { height: 34px;  }

    </style>
{% endblock %}
{% block content %}
    <div style="margin-top: 120px">
    {% include 'StcMusiczarconiaBundle:Default:carosel.html.twig' %}
    <!-- Datepicker -->
    {% block fos_user_content %}
        {{ parent() }}
    {% endblock %}

    <div class="reservation_table">
        <form id="dateSelectorForm" action="{{ path('get_daily_view') }}" method="post">
            <input id="dateclick" type="hidden" name="dateclick" />
            <div id="datepicker"></div>
        </form>
    </div>
    <div style="float:left; ">
    <div id="daychart" class="daychart">
        {% include 'StcMusiczarconiaBundle:Default:reservation_table.html.twig' %}
        {#{{ render(url('show_reservation_table')) }}#}
    </div>

    </div>
    </div>
{% endblock %}